.header {
  background-color: #302d2d;
  color: #0a0a0a;
  padding: 20px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  float: left;
  margin-left: -250px;
}

.logo img {
  max-height: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -220px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

nav ul li a {
  color: #100f0f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.active {
  border-bottom: 2px solid #171616;
}

/* Dropdown menu styling */
.dropdown-menu {
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  list-style: none;
  z-index: 10;
  width: 180px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  text-align: left;
}

nav ul li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  display: block;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
  color: #000;
}
